.main {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.main > img {
  width: 24px;
}
.main > div {
  display: none;
}

.main:hover > div {
  color: #d9232e;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 1em;
}

.header > h1 {
  color: #d9232e;
}

.container {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.dialog {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.4);
}

.dialog > h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form > div > input {
  padding: 5px 10px;
  font-size: large;
}

.button {
  padding: 12px 24px;
  background-color: #d9232e;
  color: #ffffff;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

.showPass > span {
  padding: 0px 10px;
}

.showPass > input {
  accent-color: #d9232e;
}

.form > div > input:invalid:not(:placeholder-shown) {
  border-color: #d9232e;
}

.rel {
  position: relative;
}

.logout {
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 4px;
  border: 0.1rem solid #ccc;
  text-align: center;
}

.logout > div {
  color: #d9232e;
  padding: 2px;
}

.logout > div:nth-child(2):hover {
  cursor: pointer;
}

@media (max-width: 760px) {
  .header {
    align-items: center;
    padding: 0.5rem 0.5rem 1rem;
  }

  .dialog {
    gap: 1rem;
  }

  .logo {
    width: 2rem;
  }

  .form > div > label {
    font-size: 15px;
  }

  .logout {
    padding: 10px;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .header {
    padding: 11px 0px;
    border-bottom: 0.1rem solid #ccc;
  }

  .logo {
    width: 43px;
  }

  .logout {
    padding: 15px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 20px 0 20px 0;
    width: 100%;
    border-bottom: 0.1rem solid #ccc;
  }

  .logo {
    width: 50px;
  }

  .main > div {
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    font-weight: 700;
  }

  .container {
    margin: 50px 0 0;
  }

  .logout {
    padding: 10px 15px;
  }

  .logout > div:first-child {
    display: none;
  }
}
