.brand {
  position: relative;
}

.brand:hover > .profileText {
  color: #d10709;
}

.profileText {
  position: absolute;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  font-size: 5vw;
  top: 2%;
  right: 5%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47.5%;
  height: 40%;
  border: solid 0.01rem #d4d4d4;
  padding: 3.5% 0;
}

.info > p,
.info > div,
.learnMore {
  width: 100%;
}

.info > p {
  color: #222222;
  text-align: center;
  font-size: 3.95vw;
}

.info > div {
  color: #666;
  text-align: center;
}

.learnMore {
  display: flex;
  align-items: center;
  justify-content: center;
}

.FranchiseIMG {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.FranchiseIMG > div {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 70%;
}

@media (max-width: 760px) {
  .upper {
    padding: 0 0.5rem;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .brand {
    width: 47.5%;
    height: 55%;
  }

  .BrandHomeIMG {
    max-width: 100%;
    height: auto;
  }

  .info > p {
    margin-top: 27%;
  }

  .info > div {
    margin: 5% 0 15%;
    font-size: 2.97vw;
  }

  .learnMore > img {
    width: 80%;
    object-fit: fill;
  }

  .FranchiseIMG > div {
    width: 60%;
    font-size: 5vw;
    border-top: 0.03rem solid #fff;
    border-bottom: 0.03rem solid #fff;
  }
}

@media (min-width: 761px) and (max-width: 1199px) {
  .upper {
    display: flex;
    gap: 2%;
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 4.5%;
  }

  .info {
    width: 100%;
  }

  .info > div {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2.7% 0 7.2%;
  }

  .learnMore > img {
    width: 20vw;
    height: auto;
  }

  .FranchiseIMG > div {
    font-size: 3vw;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    line-height: 60px;
  }

  .FranchiseIMG:hover > div {
    color: #d10709;
    border-top: 3px solid #d10709;
    border-bottom: 3px solid #d10709;
  }
}

@media (min-width: 1200px) {
  .upper {
    display: flex;
    gap: 2%;
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 4.5%;
  }

  .profileText {
    font-size: 48px;
  }

  .info {
    width: 100%;
    padding: 0 0 7.5%;
  }

  .info > p {
    font-size: 48px;
    margin-top: 76px;
  }

  .info > div {
    margin: 19px auto 38px;
  }

  .FranchiseIMG > div {
    font-size: 36px;
    color: #fff;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    line-height: 80px;
  }

  .FranchiseIMG:hover > div {
    color: #d10709;
    border-top: 3px solid #d10709;
    border-bottom: 3px solid #d10709;
  }
}
