img {
  max-width: 100%;
}

.display {
  transition: 1s;
}

@media (max-width: 760px) {
}

@media (min-width: 761px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
  .banner {
    width: 100%;
    height: 699.41px !important;
    overflow: hidden;
    transition-duration: 0.3s;
  }
}
