.main {
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid #333;
}

.main > img {
  width: 24px;
}

.input {
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #333;
  opacity: 1;
}

.display {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.category > div:hover,
.price > div:hover {
  cursor: pointer;
  color: #d9232e;
}

.category > div,
.price > div {
  border-bottom: 0.1rem solid #ccc;
  padding: 2px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category > h3,
.price > h3 {
  padding-bottom: 10px;
}

@media (max-width: 760px) {
  .input {
    width: 30vw;
  }
}
